.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(239, 239, 239, 0.75) 0%, rgba(239, 239, 239, 0.75) 0.01%, #D0C1C1 100%), linear-gradient(180deg, rgba(239, 239, 239, 0.75) 0%, rgba(239, 239, 239, 0.75) 0.01%, #D0C1C1 100%);
  overflow: hidden;
}
