.authHeader {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 20px 0;

  &Title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &Logo {
    height: 40px;
    width: 40px;
  }
}