.student {
  &Content {
    margin-right: 0.75rem;
  }

  &Date {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.diary {
  &Content {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;

    @media all and (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}
