.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  padding: 24px;

  @media all and (max-width: 576px) {
    flex-wrap: wrap;
    padding: 12px;
  }

  &Left {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    gap: 12px;
    min-width: 200px;
  }

  &Name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &Logo {
    &Img {
      height: 32px;
      width: 32px;

      @media all and (max-width: 576px) {
        height: 20px;
        width: 20px;
      }
    }

    &Title {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      white-space: nowrap;

      @media all and (max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  &Right {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
  }
}
