.bottomMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgba(144, 144, 144, 0.46);
  margin-top: 15px;
  padding-top: 15px;
  //border-bottom: 1px solid rgba(144, 144, 144, 0.46);
  //margin-bottom: 15px;
  width: 100%;
  &Text {
    white-space: nowrap;
  }
}